body {
  background-color: powderblue;
  text-align: center;
}

#main {
  max-width: 800px;
  height: 800px;
  margin: 20px auto;
  background-color: slategray;
  background-image: url("mom-and-baby.jpg");
  color: white;
  border: 8px double darkblue;
  border-radius: 20px;

}

h1 {
  font-family: 'Codystar', cursive;
  font-size: 400%;
  margin: 0px auto 0px auto;
  padding: 500px 0px 0px;
  color:white;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
  padding: 200px
}
